<div id="footer_wrap">
    <footer class="inner clearfix">
        <div style="width:255px; float:right;">
            <a href="//plus.google.com/u/0/105292818602737285330?prsrc=3"
               rel="publisher" target="_blank" style="text-decoration:none; display:block; float:left; width:25px;">
                <img src="//ssl.gstatic.com/images/icons/gplus-16.png" alt="Google+" style="border:0;width:16px;height:16px;"/>
            </a>

            <a href="https://twitter.com/share" class="twitter-share-button" data-via="w5_io">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

            <a href="https://twitter.com/w5_io" class="twitter-follow-button" data-show-count="false">Follow @w5_io</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
    </footer>
</div>