<div class="navbar-wrapper">
  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../../../../index.html">
          <img src="../../../resources/images/w5_w.png" class="logo" alt="W5" />
      </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <!--li class="active"><a href="#">Getting started</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Nav header</li-->
          <li><a href="../../../gettingStarted/gettingStarted/doc/gettingStarted.html">Getting started</a></li>
          <li><a href="../../../samples/basic/doc/createW5Grid.html">Samples</a></li>
          <li><a href="#" onclick="openAlert(this);">API Docs</a></li>
          <!--li class="dropdown"-->
          <li>
            <a href="#" onclick="openAlert(this);">Support</a>
            <!--a href="" class="dropdown-toggle" data-toggle="dropdown">Support<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="">Forum</a></li>
              <li><a href="">Purchase Options</a></li>
            </ul-->
          </li>
          <!--li class="dropdown"-->
          <li>
            <a href="#" onclick="openAlert(this);">About</a>
            <!--a href="" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="">Company</a></li>
              <li><a href="">Contact us</a></li>
            </ul-->
          </li>
        </ul>
      </div>
  </div>
</div>